* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #D33A2C;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 24px;
  height: 100px;
  padding: 0 30px;
}


.logo {
  height: 40px;
  width: 40px;
  flex: 1;
}

.navbar-link {
  padding: 10px 5px;
  margin: 0 10px;
  flex: 3;
  text-align: center;
  width: fit-content;
  font-weight: bold;
}

.navbar-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.search {
  padding: 12px 15px;
  font-size: 22px;
  width: 350px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.search-bar {
  flex: 5;
}

.article-type-links {
  display: flex;
  justify-content: space-around;
  padding: 20px 20px;
  align-items: center;
  box-shadow: 0 1px 8px gray;
}

.article-link a {
  text-decoration: none;
  color:#D33A2C;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #FFE3E3;
  border-radius: 12px;
  border: none;
}

.article-link a:hover {
  border: 1px solid rgb(212, 59, 45);
}

.top-articles {
  width: 85%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}

.popular-articles {
  height: 800px;
  width: 70%;
}

.email-notify {
  height: 650px;
  width: 33%;
  margin-top: 110px;
  border-radius: 10px;
  padding: 5px 20px;
}

.most-viewed-articles {
  width: 88%;
  margin: 130px auto;
  display: flex;
  justify-content: space-between;
}

.most-viewed-articles {
  margin-bottom: 35px;
}

.mw-article {
  width: 32%;
  box-shadow: 0 7px 18px gray;
  border-radius: 12px;
}

.mw-article:hover {
  box-shadow: none;
}

.steven-hoober,
.stanislav,
.noam,
.mechille,
.adrian,
.vitaly,
.cosima,
.shell-adrian {
  display: flex;
  align-items: center;
  line-height: 40px;
  width: 530px;
}

.img-span-div {
  margin-left: 30px;
}

.img-span-div p {
  font-family: Elena;
}

.img-span-div h1 {
  font-weight: bold;
  font-size: 45px;
  margin: 20px auto;
  line-height: 40px;
  margin-bottom: 30px;
}

.hoober-image,
.stanislav-image,
.noam-image,
.mechille-image,
.adrian-image,
.vitaly-image,
.cosima-image,
.shell-adrian-image{
  width: 160px;
  height: 160px;
  border-radius: 12px;
  border: 5px solid rgb(212, 59, 45);
}

.name-link {
  color: #D33A2C;
  font-weight: 700;
  font-size: 20px;
}

.links {
  color: #666666;
  font-size: 20px;
  font-weight: 800;
}

.paragraph {
  width: 700px;
  font-size: 22px;
  line-height: 35px;
  color: #333333;
  margin-top: 20px;
}

.paragraph-tittle {
  color: #D33A2C;
  margin-top: 35px;
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
}

.div {
  display: flex;
  align-items: center;
  margin: 50px;
}

.top {
  font-size: 20px;
}

.em {
  font-size: 14px;
  color: #666666;
}

.dark-p {
  font-size: 35px;
  font-weight: 900;
  cursor: pointer;
}

.person-image {
  width: 110px;
  height: 110px;
  border-radius: 6px;
  border: 5px solid rgb(212, 59, 45); 
}

.sergey {
  margin-left: 25px;
}

.stanislav {
  width: 650px;
}

.email-notify {
  background-color: #E7F8FF;
  text-align: center;
}

.cat {
  width: 250px;
  height: 250px;
  margin-top: -130px;
  margin-bottom: 20px;
}
.email-link {
  color: rgb(212, 59, 45);
  padding: 15px;
  background-color: #FFFFFF;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
}

.dark {
  font-size: 30px;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 28px;
}

.link-p {
  font-size: 21px;
}

.link-p a {
  color: #006FCA;
  font-weight: bold;
}

.link-input {
  margin-top: 50px;
  display: flex;
  width: fit-content;
  margin-bottom: 20px;
  justify-content: center;
}

.email {
  width: 55%;
  font-size: 22px;
  padding: 17px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  box-shadow: 0 2px 17px gray;
}

.meow {
  box-shadow: 0 2px 17px gray;
  padding: 17px;
  font-size: 22px;
  text-decoration: none;
  font-weight: bold;
  background-color: #0168B8;
  color: white;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  width: 32%;
}

.link-bottom,
.link-bottom a {
  color: #666666;
}

.mw-article {
  background-color: #F1FDF8;
  padding: 50px 42px;
}

.mw-article-title-1,
.mw-article-title-2,
.mw-article-title-3 {
  font-size: 34px;
  font-weight: bold;
}

.mw-article-title-1 {
  color: #5EA46F;
}

.mw-article-1 p,
.mw-article-2 p,
.mw-article-3 p {
  padding: 20px 0;
  font-size: 21px;
  line-height: 35px;
}

.mw-article-1-btn,
.mw-article-2-btn,
.mw-article-3-btn {
  padding: 20px 15px;
  color: white;
  font-size: 25px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}

.mw-article-1-btn {
  background-color: #18A46F;
}

.mw-article-title-2 {
  color: #F55700;
}

.mw-article-2-btn {
  background-color: #F55700;
}

.mw-article-title-3 {
  color: #AA1994;
}

.mw-article-3-btn {
  background-color: #AA1994;
}

.mw-article-2 {
  background-color: #FEF1F0;
}

.mw-article-3 {
  background-color: #FBECF9;
}

.see-all-guides,
.see-more-latest,
.links-twitter {
  width: 180px;
  margin: 50px auto;
  padding: 10px;
  text-align: center;
  border-bottom: 5px solid #D33A2C;
}

.see-more-latest,
.links-twitter {
  width: 250px;
}

.see-all-guides a,
.see-more-latest a,
.links-twitter a {
  color: black;
  text-decoration: none;
}

.see-all-guides a:hover {
  color: #D33A2C;
}

.stas-image {
  width: 70px;
  height: 70px;
  align-self: flex-start;
}

.lp-article-par {
  font-size: 21px;
  line-height: 30px;
  margin: 15px auto;
}

.img-span-div h1 {
  font-size: 35px; 
  cursor: pointer;
}

.img-span-div h1:hover {
  /* color: #D33A2C; */
  cursor: pointer;
}

.img-span-div-p {
  line-height: 22px;
}

.latest-posts {
  display: flex;
  flex-wrap: wrap;
  width: 82%;
  margin: 40px auto;
  padding-top: 100px;
}

.lp-post {
  display: flex;
  flex: 1;
  flex-basis: 50%;
  padding: 45px 30px;
}

.smashing-family-ctn {
  width: 75%;
  margin: 0 auto;
  height: 480px;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
}

.family-title {
  width: 900px;
  margin: 120px auto;
  margin-bottom: 160px;
  text-align: center;
}

.cat-1:hover,
.cat-2:hover {
  cursor:pointer;
}

.family-title p {
  font-size: 30px;
  color:#D33A2C;
  font-weight: bold;
}

.family-title h1 {
  font-size: 45px;
  font-weight: bold;
}

.smashing-books,
.smashing-workshops {
  width: 48%;
  background-color: #F1FDF8;
  border-radius: 15px;
  text-align: center;
}

.cat-1,
.cat-2 {
  width: 260px;
  height: 260px;
  margin-top: -130px;
  margin-bottom: 20px;
}

.paragraph-sb {
  font-size: 21px;
  line-height: 30px;
  margin: 40px auto;
}

.smashing-books a,
.smashing-workshops a {
  font-size: 28px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  padding: 20px 36px;
  background-color: #18A46F;
  margin-top: 20px;
}

.p-link {
  font-size: 15px;
  margin-top: 30px;
  color: #666666;
}

.smashing-workshops a {
  background-color: #006FCA;
}

.winter-spring {
  background-color: #006FCA;
  margin-top: 100px;
  padding-top: 50px;
  height: 170vh;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.winter-spring-div1 {
  width: 700px;
  line-height: 50px;
}

.paragraph-first,
.new-workshops-link {
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.new-workshops-link {
  font-size: 50px;
  width: 500px;
  text-decoration-color: #4399D9 ;
}

.nw-paragraph {
  font-size: 24px;
  color: white;
  line-height: 35px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.speakers-link {
  color: #006FCA;
  background-color: white;
  padding: 20px 25px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 14px;
}


.cat-image {
  text-align: center;
  width: fit-content;
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.cat-fish-bird {
  width: 1000px;
}

.person {
  display: flex;
  width: 88%;
  margin: 70px auto;
  padding: 0 30px;
  position: relative;
}

.person-of-the-week {
  width: 220px;
  height: 220px;
  border: 6px solid rgb(212, 59, 45);
  border-radius: 12px;
  margin: 0 25px;
}

.title-parag {
  font-size: 20px;
  color: #66667F;
}

.link-parag {
  font-size: 21px;
  line-height: 32px;
  color: #463D33;
  margin-top: 38px;
}

.link-parag a {
  color: #186FC6;
}

.person-menu {
    display: flex;
    flex-wrap: wrap;
    width: 82%;
    margin: 40px auto;
    /* padding-top: 100px; */
}

.chen-image,
.adam-image,
.ahmad-image,
.josh-image,
.alex-image,
.una-image {
  border: 5px solid rgb(212, 59, 45);
  border-radius: 12px;
  margin-right: 20px;
}

.lp-article-par a {
  color:#186FC6;
}

.sm-topics {
  height: 110vh;
  background-color: #D33A2C;
  margin-top: 100px;
}

.topics-head-parag {
  color: white;
  text-align: center;
  padding-top: 70px;
  font-weight: bold;
  font-size: 15px;
}


.ul-links {
  display: flex;
  margin: 30px auto;
  font-size: 24px;
  color:#7e1e16;
  flex-wrap: wrap;
  width: 80%;
  line-height: 55px;
  justify-content: center;
}

.ul-links a {
  color: white;
  text-decoration: none;
  margin-right: 30px;
  padding: 20px auto;
}

.sm-about {
  width: 75%;
  height: 40vh;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.bird,
.sm-contact,
.sm-cat {
  text-align: center;
  line-height: 28px;
  font-size: 17px;
  margin-top: 10px;
}

.sm-contact p {
  color: white;
}

.sm-contact a {
  color: white;
}

.sm-contact em {
  font-size: 15px;
}

.sm-contact-ul {
  display: flex;
  margin: 20px auto;
  flex-wrap: wrap;
  width: 58%;
  justify-content: center;
  flex: 1;
  height: 28%;
  font-size: 17px;
  color:#D33A2C;
}

.sm-contact-ul a {
  margin-right: 25px;
}

.person-menu-div h1 {
  padding-top: 18px;
}

.person-menu-div b,
.img-span-div b {
  font-size: 13px;
  color: #667083;
  font-weight: normal;
}

.more {
  background-color: #93281F;
  border-radius: 10px;
}

.rotate,
.person-rotate {
  position: absolute;
  transform: rotate(90deg);
  transform-origin: 0 0;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 4px;
}

.person-rotate {
  top: -60px;
  font-size: 14px;
}