* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #D33A2C;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 24px;
  height: 100px;
  padding: 0 30px;
}


.logo {
  height: 40px;
  width: 40px;
  flex: 1;
}

.navbar-link {
  padding: 8px 12px;
  flex: 3;
  text-align: center;
  width: fit-content;
}

.navbar-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.search {
  padding: 15px;
  font-size: 25px;
  width: 320px;
  border: none;
  border-radius: 8px;
}

.search-bar {
  flex: 5;
}